mailman>=3.0.0b2
zope.interface
storm
# python-dateutil 2.0+ is for Python 3
python-dateutil < 2.0
mock
networkx
Whoosh
dogpile.cache
# mailmanclient is not yet in PyPI
bzr+lp:mailman.client#egg=mailmanclient
